h1 {
  font-size:300%;
  text-align: center;
  background-color:hsl(120, 50%, 60%);
  padding: 10px;
  margin-bottom: 0;
  border-bottom: 3px solid gray;
}
a {
  color: black;
  text-decoration: none;
}
ul {
  font-size: 120%;
  border-right: 3px solid gray;
  padding: 20px;
  padding-left: 40px;
  margin: 0;
}
h2 {
  font-size: 150%;
}
ol {
  font-size: 120%;
}
p {
  font-size: 110%;
}
#grid {
  display: grid;
  grid-template-columns: 200px 1fr;
}
#list {
  padding: 25px;
  padding-top: 15px;
}
