h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
ul {
  font-size: 20px;
}
a {
  text-decoration: none;
}
ol {
  font-size: 20px;
}
p {
  font-size: 17px;
}
@media(max-width:600px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 60px;
  }
  ul {
    font-size: 40px;
  }
  a {
    text-decoration: none;
  }
  ol {
    font-size: 40px;
  }
  p {
    font-size: 34px;
  }
}
